* {
    padding: 0px;
    margin: 0px;
}


/*盒子模型*/

.bag1 {
    width: 130px;
    height: 130px;
    margin: 100px;
    box-shadow: 0 0 10px #000;
}

.bag1 .box1 {
    padding: 10px;
    width: 100px;
    height: 100px;
    background: #FE6403;
    border: 5px solid #02C3F5;
}

.bag1 .box1 .conter1 {
    width: 100px;
    height: 100px;
    background: #F69A0B;
    text-align: center;
    line-height: 100px;
    color: #fff;
    overflow: hidden;
}


/*怪异盒模型*/

.bag2 {
    box-shadow: 0 0 10px #000;
    width: 130px;
    height: 130px;
    margin: 100px;
}

.bag2 .box2 {
    padding: 10px;
    width: 130px;
    height: 130px;
    background: #FE6403;
    border: 5px solid #02C3F5;
    box-sizing: border-box;
}

.bag2 .box2 .conter2 {
    width: 100px;
    height: 100px;
    background: #F69A0B;
    text-align: center;
    line-height: 100px;
    color: #fff;
    overflow: hidden;
}


/*多栏布局*/

.box3 {
    margin: 50px 0;
    background: #39a6cc;
    padding: 10px;
    width: 600px;
    height: 300px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}


/*图片居中*/

.box4 {
    margin: 50px 0;
    width: 400px;
    height: 500px;
    background: #02C3F5;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    pack: center;
}


/*弹性水平*/

.flexbox1 {
    margin-bottom: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.flexbox1 .box_1 {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    height: 100px;
    background: #7cf680;
}

.flexbox1 .box_2 {
    -webkit-flex: 2;
    -moz-flex: 2;
    flex: 2;
    height: 100px;
    background: #fe7c57;
}

.flexbox1 .box_3 {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    height: 100px;
    background: #02C3F5;
}


/*弹性垂直*/

.flexbox2 {
    height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: column;
}

.flexbox2 .box_1 {
    background: #7cf680;
    -webkit-flex: 2;
    -moz-flex: 2;
    flex: 2;
}

.flexbox2 .box_2 {
    -webkit-flex: 3;
    -moz-flex: 3;
    flex: 3;
    background: #fe7c57;
}

.flexbox2 .box_3 {
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
    background: #02C3F5;
    -webkit-order: -1;
    -moz-order: -1;
    order: -1;
}
