* {
    margin: 0;
    padding: 0;
}

.the_div {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #ddd;
}


/*强行更改bootstrap颜色~*/

.navbar-default {
    background-color: #C9302C !important;
    border-color: #C9302C !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #AC2925 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}


/*巨幕按钮*/

.btn-primary {
    background-color: #C9302C !important;
    border-color: #AC2925 !important;
}

.btn-primary:hover {
    background-color: #AC2925 !important;
    border-color: #AC2925 !important;
}


/*body 边框*/

.panel-primary {
    border-color: #C9302C !important;
}


/*body top*/

.panel-primary>.panel-heading {
    background-color: #C9302C !important;
    border-color: #C9302C !important;
}

.pager a,
.mom a{
    color: #C9302C !important;
    text-decoration: none;
}
